body {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: 'Geostar', cursive;
}

header {
    background: url('person/lastMenuFon.png') no-repeat center 65%;
    background-size: cover;
    -webkit-background-size: cover;
}

#Container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    height: auto;
}

#all {
    display: flex;
    justify-content: start;
}

#menuUl {
    padding: 0;
    list-style-type: none;
    text-align: center;
    font-size: 25px;
    margin-left: 10px;
}

#menuUl li {
    border: solid 1px #9eabb7;
    margin-bottom: 5px;
    padding: 15px;
    color: #9eabb7;
    cursor: pointer;
}

#content {
    width: 1018px;
    color: #9eabb7;
    margin-left: 10px;
    margin-top: 5px;
}

li a,
li a:visited {
    color: #9eabb7;
    text-decoration: none;
}

li a.active,
li a:hover {
    color: white;
}

.rulesForGame {
    padding: 0;
    list-style-type: none;
}

.rulesForGame li {
    margin-bottom: 9px;
}

#fon {
    border: solid 1px #173b75;
}

#level {
    border: solid 1px #173b75;
}

#blackFon {
    background-color: black;
    opacity: 0.5;
}

#yourName {
    width: 250px;
    height: auto;
    border: solid 1px #9eabb7;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    background-color: black;
    color: #9eabb7;
    display: none;
    left: 40%;
    top: 5%;
}

#yourNameInput {
    margin: 10px;
    background-color: black;
    border: solid 1px #9eabb7;
    color: #9eabb7;
    padding: 10px;
    outline: none;
}

#ok {
    border: solid 1px #9eabb7;
    width: 40px;
    padding: 5px;
    margin: 0 auto;
    cursor: pointer;
    background-color: black;
    color: #9eabb7;
    outline: none;
    font-family: 'Geostar', cursive;
}

th {
    padding: 15px;
}

td {
    padding: 15px;
    text-align: center;
}
